{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
    <div class="container mt-3 text-center">
        <form method="POST" class="d-inline">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary" name="action" value="update">Update</button>
        </form>
        <form method="POST" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" name="action" value="delete">Delete</button>
        </form>
    </div>
{% endblock %}